<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH5Dn0UTsJ8Wa0CUKt4TfmPNalVBR-5Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>150122864615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookReviewApp</string>
	<key>PROJECT_ID</key>
	<string>book-review-app-62c8a</string>
	<key>STORAGE_BUCKET</key>
	<string>book-review-app-62c8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150122864615:ios:5f8bf87dd16edc29016742</string>
</dict>
</plist>